<p>Hi <%= @payment.user.login %>,</p>

<p>Thank you for making a payment to MyFuture Gold Resources. An admin will respond to your payment shortly.</p>

<p>Your payment receipt number is <%= @payment[:receipt_number] %>. Please keep this receipt number for future references.</p>

<p>Thank you!</p>

<p>Kind Regards,</p>

<p>
	MyFuture Gold Resources (002357358-K)<br />
	No 117, Jalan Raja Abdullah<br />
	50300 Wilayah Persekutuan<br />
	Kuala Lumpur, MALAYSIA
</p>

<p>
	Tel: 03-8988 9909<br />
	H/P: 012-2873632<br />
	Email: order@myfuturegold.my
</p>
