<div class="list-group">
  <%= link_to "Client Details", admin_user_path(@user.login), :class => 'list-group-item' %>
  <%= link_to "Order Details", admin_user_orders_path(@user.login), :class => 'list-group-item' %>
  <%= link_to 'Payment History', admin_user_payments_path(@user.login), :class => "list-group-item active" %>
  <%= link_to 'Voucher History', admin_user_vouchers_path(@user.login), :class => "list-group-item" %>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>