<div class="list-group">
  <%= link_to "Account Details", edit_user_registration_path, :class => 'list-group-item' %>
  <%= link_to "Client Details", account_path, :class => 'list-group-item' %>
  <%= link_to "Order Details", orders_path, :class => 'list-group-item active' %>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>