<div class="list-group">
  <%= link_to "Account Settings", edit_user_registration_path, :class => 'list-group-item' %>
  <%= link_to "Profile Details", account_path, :class => 'list-group-item' %>
  <%= link_to "Order Details", orders_path, :class => 'list-group-item active' %>
  <%= link_to "Payment History", payments_path, :class => 'list-group-item' %>
</div>