<p>Hi there,</p>

<p><%= @order.user.profile.nama_penuh %> has place an order at MyFuture Gold Resources. The order reference number is <%= @order[:ref_number] %>.</p>

<p>Thank you!</p>

<p>Kind Regards,</p>

<p>
	MyFuture Gold Resources (002357358-K)<br />
	No 117, Jalan Raja Abdullah<br />
	50300 Wilayah Persekutuan<br />
	Kuala Lumpur, MALAYSIA
</p>

<p>
	Tel: 03-8988 9909<br />
	H/P: 012-2873632<br />
	Email: order@myfuturegold.my
</p>
