<p>Hi <%= @order.user.login %>,</p>

<p>Thank you for placing an order at MyFuture Gold Resources. An admin will respond to your order shortly.</p>

<p>Your order reference number is <%= @order[:ref_number] %>. Please keep this reference number for future references.</p>

<p>For direct bank-in / e-Banking, please find our Bank details as follow:</p>

<p>
<strong>Bank Name:</strong> Maybank Bank Berhad<br />
<strong>Payee Name:</strong> MYFUTURE GOLD RESOURCES<br />
<strong>Account Number:</strong> 563019243857<br />
<strong>Bank SWIFT:</strong> MBBEMYKL<br />
<strong>Company Registration Number:</strong> 002357358-K
</p>

<p>Thank you!</p>

<p>Kind Regards,</p>

<p>
	MyFuture Gold Resources (002357358-K)<br />
	No 117, Jalan Raja Abdullah<br />
	50300 Wilayah Persekutuan<br />
	Kuala Lumpur, MALAYSIA
</p>

<p>
	Tel: 03-8988 9909<br />
	H/P: 012-2873632<br />
	Email: order@myfuturegold.my
</p>
