@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

@font-face {
  font-family: 'freight-text-pro';
  src: url('../fonts/freighttext-book.eot');
  src: local('☺'), url('../fonts/freighttext-book.woff') format('woff'), url('../fonts/freighttext-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

p {
  /*font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;*/
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  letter-spacing: 0.01rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.9;
}

.footer {
  /*position: relative;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  margin-top: 40px;
  padding: 15px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Navbar */

.navbar-header {
  font-family: 'Roboto Slab', serif;
}

.dropdown-menu > li > a,
.navbar-nav > li > a {
  font-family: 'Roboto Slab', serif;
}

.navbar-text {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 1.4;
}

/* Font */

.text-bg-classes p {
  font-size: 14px;
  margin-top: 10px;
  padding: 15px;
  line-height: 1;
}

/* Error Message */

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  text-align: left;
}






