<p>Welcome <%= @email %>!</p>

<<p>Thank you for signing up with MyFuture Gold Resources. Before we allow you to login to our sytem, please confirm your email address first by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Kind Regards,</p>

<p>
	MyFuture Gold Resources (002357358-K)<br />
	No 117, Jalan Raja Abdullah<br />
	50300 Wilayah Persekutuan<br />
	Kuala Lumpur, MALAYSIA
</p>

<p>
	Tel: 03-8988 9909<br />
	H/P: 012-2873632<br />
	Email: order@myfuturegold.my
</p>
