<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Kind Regards,</p>

<p>
	MyFuture Gold Resources (002357358-K)<br />
	No 117, Jalan Raja Abdullah<br />
	50300 Wilayah Persekutuan<br />
	Kuala Lumpur, MALAYSIA
</p>

<p>
	Tel: 03-8988 9909<br />
	H/P: 012-2873632<br />
	Email: order@myfuturegold.my
</p>
