<div class="list-group">
  <%= link_to "Client Details", admin_user_path, :class => 'list-group-item active' %>
  <%= link_to "Order Details", admin_user_orders_path(user_id:@user.login), :class => 'list-group-item' %>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>