</div>
<div class="footer">
  <div class="container">
  	<div class="row">
  		<div class="col-md-4">
  			<p class="text-muted small">myfuturegold 2.1.0-Master (2e70bda)</p>
  		</div>
  		<div class="col-md-8">
  			<p class="text-muted small text-right">&copy 2014. MyFuture Gold Resources (002357358-K). Coded by <%= link_to "AmirolAhmad", "https://twitter.com/amirolahmad", :target => "_blank" %>. Powered by <%= link_to "GB Network Solution", "http://www.gempakbox.net/", :target => "_blank" %>.</p>
  		</div>
  	</div>
  </div>
</div>