<div class="footer">
  <div class="container">
    <p class="text-muted small text-right">&copy 2014. MyFutureGold Sdn Bhd. Created by <%= link_to "AmirolAhmad", "https://twitter.com/amirolahmad", :target => "_blank" %>. Powered by <%= link_to "GB Network Solution", "http://www.gempakbox.net/", :target => "_blank" %>. All right reserved.</p>
  </div>
</div>